body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:42px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:42px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:962px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:3px;
  width:40px;
  height:36px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:10px;
  width:140px;
  height:23px;
  font-size:20px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:272px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:74px;
  width:811px;
  height:272px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:87px;
  width:66px;
  height:60px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:421px;
  width:66px;
  height:60px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:261px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:400px;
  width:811px;
  height:261px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:759px;
  width:66px;
  height:60px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:261px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:727px;
  width:811px;
  height:261px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1049px;
  width:811px;
  height:212px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:212px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1291px;
  width:140px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
